<router-outlet></router-outlet>
<section class="service">
    <div class="box-container">
        <div class="box">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            <h3>easy</h3>
            <p>ShortURL is easy and fast, enter the long link to get your shortened link</p>
        </div>
        <div class="box">
            <i class="fa fa-link"></i>
            <h3>shortened</h3>
            <p>Use any link, no matter what size, ShortURL always shortens</p>
        </div>
        <div class="box">
            <i class="fa fa-user-secret"></i>
            <h3>secure</h3>
            <p>It is fast and secure, our service has HTTPS protocol and data encryption</p>
        </div>
        <div class="box">
            <i class="fa fa-signal" aria-hidden="true"></i>
            <h3>statistics</h3>
            <p>Check the number of clicks that your shortened URL received</p>
        </div>
        <div class="box">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
            <h3>Reliable</h3>
            <p>All links that try to disseminate spam, viruses and malware are deleted</p>
        </div>
        <div class="box">
            <i class="fa fa-tablet" aria-hidden="true"></i>
            <h3>devices</h3>
            <p>Compatible with smartphones, tablets and desktop</p>
        </div>
    </div>
</section>
<app-visitors></app-visitors>